* {
	font-family: 'Roboto', sans-serif;
}
html, body {
	font-size: 16px;
}

.vertical-align {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 0;
	width: 100%;
}
.card {
	background: #fefefe;
    box-shadow: 13px 13px 28px 2px rgba(0, 0, 0, 0.035);
    padding: 7px 15px;
}
.close-chat {
	position: absolute;
	top: 10px;
	right: 10px;
	font-size: 22px;
	font-weight: bolder;
	cursor: pointer;
	z-index: 999;
}
.conv-form-wrapper .options {
	display: flex;
	flex-wrap: wrap;
}
.conv-form-wrapper::before {
	display: none;
}
.btn-overlay {
	width: 100%;
	margin: 20px auto;
	display: flex;
	justify-content: center;
}
button {
	padding: 10px 20px;
	margin: 10px 10px;
	background-color: #ececec;
	border: 1px solid #a2a2a2;
	border-radius: 5px;
	box-sizing: border-box;
	box-shadow: 0px 0px 4px 1px #a2a2a2;
}
#demo {
	background: #fbfbfb;
	position: relative;
	padding: 0;
	min-height: 50vh;
	transition: height 9999s;
	display: flex;
	max-width: 45vw;
	min-width: 320px;
	padding: 0 10px;
	margin: 0 auto;
	box-sizing: border-box;
	box-shadow: 0 0 10px 2px #a2a2a2;
	border-radius: 9px;
}

.card {
	width: 100%;
}

.-bottom-right- .datepicker--pointer,
.-top-right- .datepicker--pointer {
	right: 50%;
	margin-right: -5px;
}
.datepicker.active {
	transform: translate(65px, -10px);
}

